# SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0

[importlinter]
root_package = opossum_lib
# Optional:
include_external_packages = True
exclude_type_checking_imports = True

[importlinter:contract:file-formats-independent]
name = The different file formats should be independent
type = independence
modules =
    opossum_lib.opossum
    opossum_lib.scancode
ignore_imports =
    ** -> opossum_lib.core.opossum_model
