# SPDX-FileCopyrightText: 2023 TNG Technology Consulting GmbH <https://www.tngtech.com>
#
# SPDX-License-Identifier: Apache-2.0
[tool.poetry]
name = "opossum.lib.py"
version = "0.1"
description = "A library for handling Opossum files with Python"
authors = [
    "Meret Behrens <meret.behrens@tngtech.com>",
    "Jakob Schubert <jakob.schubert@tngtech.com>",
]
license = "Apache-2.0"

readme = "README.md"


repository = "https://github.com/opossum-tool/opossum.lib.py"

packages = [
    { include = "opossum_lib", from="src" }
]

[tool.poetry.scripts]
spdx2opossum = 'opossum_lib.cli:spdx2opossum'

[tool.poetry.dependencies]
python = "^3.8.1"
spdx-tools = "^0.8.0a2"
networkx = "^3.0"
click = "^8.1.3"

[tool.poetry.group.test.dependencies]
pytest = "^7.3.2"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
isort = "^5.12.0"
flake8 = "^6.0.0"
mypy = "^1.1.1"

[virtualenvs]
in-project = true

[tool.isort]
profile = "black"

[tool.mypy]
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = [
    'networkx.*',
    'license_expression.*'
]
ignore_missing_imports = true

[tool.pytest.ini_options]
testpaths = ["tests"]
